USE [AgendaDigital]
GO
/****** Objeto: Table [dbo].[Anuncio] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anuncio](
	[id_anuncio] [bigint] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](200) NOT NULL,
	[descripcion] [nvarchar](max) NOT NULL,
	[color] [nvarchar](20) NOT NULL,
	[audiencia] [nvarchar](20) NOT NULL,
	[fecha_creacion] [datetimeoffset](7) NOT NULL,
	[creado_por_id] [bigint] NULL,
	[plantel_id] [uniqueidentifier] NULL,
	[turno_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_anuncio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[auth_group] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[auth_group_permissions] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[auth_permission] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content_type_id] [int] NOT NULL,
	[codename] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[auth_user] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetimeoffset](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[auth_user_groups] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_groups](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[auth_user_user_permissions] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_user_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[authtoken_token] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authtoken_token](
	[key] [nvarchar](40) NOT NULL,
	[created] [datetimeoffset](7) NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Calendario] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendario](
	[id_calendario] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](120) NOT NULL,
	[clave] [nvarchar](30) NOT NULL,
	[ciclo] [nvarchar](20) NOT NULL,
	[es_publico] [bit] NOT NULL,
	[activo] [bit] NOT NULL,
	[orden] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_calendario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Conversacion] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversacion](
	[id_conversacion] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha_creacion] [datetimeoffset](7) NOT NULL,
	[activa] [bit] NOT NULL,
	[participante_a_id] [bigint] NOT NULL,
	[participante_b_id] [bigint] NOT NULL,
	[plantel_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_conversacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DispositivoFCM] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispositivoFCM](
	[id_dispositivo] [bigint] IDENTITY(1,1) NOT NULL,
	[token_fcm] [nvarchar](255) NOT NULL,
	[activo] [bit] NOT NULL,
	[fecha_registro] [datetimeoffset](7) NOT NULL,
	[fecha_actualizacion] [datetimeoffset](7) NOT NULL,
	[usuario_id] [bigint] NULL,
	[temas] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_dispositivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[django_admin_log] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_admin_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_time] [datetimeoffset](7) NOT NULL,
	[object_id] [nvarchar](max) NULL,
	[object_repr] [nvarchar](200) NOT NULL,
	[action_flag] [smallint] NOT NULL,
	[change_message] [nvarchar](max) NOT NULL,
	[content_type_id] [int] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[django_content_type] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_content_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_label] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[django_migrations] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_migrations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[applied] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[django_session] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_session](
	[session_key] [nvarchar](40) NOT NULL,
	[session_data] [nvarchar](max) NOT NULL,
	[expire_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Evento] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[id_evento] [bigint] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](200) NOT NULL,
	[area] [nvarchar](80) NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[hora_inicio] [time](7) NULL,
	[hora_fin] [time](7) NULL,
	[lugar] [nvarchar](150) NOT NULL,
	[fecha_creacion] [datetimeoffset](7) NOT NULL,
	[calendario_id] [bigint] NOT NULL,
	[creado_por_id] [bigint] NULL,
	[turno_id] [bigint] NULL,
	[tipo_evento_id] [bigint] NOT NULL,
	[plantel_id] [uniqueidentifier] NULL,
	[semestre_id] [int] NULL,
	[grupo_id] [bigint] NULL,
	[publico] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[EventoGoogleSync] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoGoogleSync](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[google_event_id] [nvarchar](255) NOT NULL,
	[evento_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[GoogleOauthCredential] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoogleOauthCredential](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[access_token] [nvarchar](max) NOT NULL,
	[refresh_token] [nvarchar](max) NULL,
	[scopes] [nvarchar](max) NOT NULL,
	[expiry] [datetimeoffset](7) NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[email_google] [nvarchar](254) NULL,
	[semestre_id] [int] NULL,
	[grupo_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Grupo] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grupo](
	[id_grupo] [bigint] IDENTITY(1,1) NOT NULL,
	[semestre_id] [int] NOT NULL,
	[letra_id] [nvarchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_grupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[LecturaMensaje] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LecturaMensaje](
	[id_lectura_mensaje] [bigint] IDENTITY(1,1) NOT NULL,
	[conversacion_id] [bigint] NOT NULL,
	[ultimo_leido_id] [bigint] NULL,
	[usuario_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_lectura_mensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Letra] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Letra](
	[id_letra] [nvarchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_letra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Mensaje] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mensaje](
	[id_mensaje] [bigint] IDENTITY(1,1) NOT NULL,
	[contenido_cifrado] [nvarchar](max) NOT NULL,
	[iv] [nvarchar](24) NOT NULL,
	[metadatos_cifrados] [nvarchar](max) NULL,
	[iv_metadatos] [nvarchar](24) NULL,
	[fecha_envio] [datetimeoffset](7) NOT NULL,
	[eliminado] [bit] NOT NULL,
	[conversacion_id] [bigint] NOT NULL,
	[remitente_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mensaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Notificacion] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificacion](
	[id_notificacion] [bigint] IDENTITY(1,1) NOT NULL,
	[categoria] [nvarchar](20) NOT NULL,
	[titulo] [nvarchar](200) NOT NULL,
	[mensaje] [nvarchar](max) NOT NULL,
	[audiencia] [nvarchar](20) NOT NULL,
	[fecha_creacion] [datetimeoffset](7) NOT NULL,
	[anuncio_id] [bigint] NULL,
	[evento_id] [bigint] NULL,
	[plantel_id] [uniqueidentifier] NULL,
	[turno_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_notificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Plantel] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plantel](
	[nombre] [nvarchar](250) NOT NULL,
	[clave] [nvarchar](10) NOT NULL,
	[id_plantel] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Plantel] PRIMARY KEY CLUSTERED 
(
	[id_plantel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre_rol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Semestre] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semestre](
	[id_semestre] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_semestre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[SolicitudAdmin] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudAdmin](
	[id_solicitud_admin] [bigint] IDENTITY(1,1) NOT NULL,
	[motivo] [nvarchar](max) NOT NULL,
	[estado] [nvarchar](20) NOT NULL,
	[fecha_solicitud] [datetimeoffset](7) NOT NULL,
	[fecha_resolucion] [datetimeoffset](7) NULL,
	[usuario_id] [bigint] NOT NULL,
	[resuelta_por_id] [bigint] NULL,
	[plantel_ref_id] [bigint] NULL,
	[turno_ref_id] [bigint] NULL,
	[turno_id] [bigint] NULL,
	[plantel_id] [uniqueidentifier] NULL,
	[tipo] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_solicitud_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoEvento] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento](
	[id_tipo_evento] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](120) NOT NULL,
	[color_hex] [nvarchar](7) NOT NULL,
	[plantel_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Turno] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[id_turno] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre_turno] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuario] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [bigint] IDENTITY(1,1) NOT NULL,
	[correo] [nvarchar](100) NOT NULL,
	[nombre] [nvarchar](150) NULL,
	[google_id] [nvarchar](255) NULL,
	[matricula] [nvarchar](20) NULL,
	[password_mock] [nvarchar](128) NULL,
	[activo] [bit] NOT NULL,
	[rol_id] [bigint] NOT NULL,
	[ultima_sesion] [datetimeoffset](7) NULL,
	[id_api] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[UsuarioPlantel] Fecha de script: 8/7/2026 11:24:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPlantel](
	[id_usuario_plantel] [bigint] IDENTITY(1,1) NOT NULL,
	[turno_id] [bigint] NOT NULL,
	[usuario_id] [bigint] NOT NULL,
	[plantel_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario_plantel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Anuncio] ON 

INSERT [dbo].[Anuncio] ([id_anuncio], [titulo], [descripcion], [color], [audiencia], [fecha_creacion], [creado_por_id], [plantel_id], [turno_id]) VALUES (23, N'AES', N'AES', N'azul', N'todos', CAST(N'2026-06-29T17:22:47.3326680+00:00' AS DateTimeOffset), 7, N'64072059-eb72-4e6f-bda0-2b3319133e59', NULL)
INSERT [dbo].[Anuncio] ([id_anuncio], [titulo], [descripcion], [color], [audiencia], [fecha_creacion], [creado_por_id], [plantel_id], [turno_id]) VALUES (24, N'AES 2', N'AES 2', N'azul', N'admin', CAST(N'2026-06-29T17:23:52.1963440+00:00' AS DateTimeOffset), 7, N'64072059-eb72-4e6f-bda0-2b3319133e59', NULL)
INSERT [dbo].[Anuncio] ([id_anuncio], [titulo], [descripcion], [color], [audiencia], [fecha_creacion], [creado_por_id], [plantel_id], [turno_id]) VALUES (25, N'AES 3', N'AES 3', N'verde', N'alumno', CAST(N'2026-06-29T17:24:29.0402180+00:00' AS DateTimeOffset), 7, N'64072059-eb72-4e6f-bda0-2b3319133e59', NULL)
SET IDENTITY_INSERT [dbo].[Anuncio] OFF
GO
SET IDENTITY_INSERT [dbo].[auth_permission] ON 

INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (1, N'Can add log entry', 1, N'add_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (2, N'Can change log entry', 1, N'change_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (3, N'Can delete log entry', 1, N'delete_logentry')
GO
SET IDENTITY_INSERT [dbo].[auth_permission] OFF
GO
SET IDENTITY_INSERT [dbo].[auth_user] ON 

INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined]) VALUES (1, N'', NULL, 0, N'usr_1', N'', N'', N'', 0, 1, CAST(N'2026-06-12T18:46:36.7850680+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[auth_user] OFF
GO
INSERT [dbo].[authtoken_token] ([key], [created], [user_id]) VALUES (N'e8ec797597c354eb01e2456176da51ea74430866', CAST(N'2026-06-12T18:46:36.8732720+00:00' AS DateTimeOffset), 1)
GO
SET IDENTITY_INSERT [dbo].[Calendario] ON 

INSERT [dbo].[Calendario] ([id_calendario], [nombre], [clave], [ciclo], [es_publico], [activo], [orden]) VALUES (1, N'Calendario Escolar', N'escolarizado', N'2025-2026', 1, 1, 1)
INSERT [dbo].[Calendario] ([id_calendario], [nombre], [clave], [ciclo], [es_publico], [activo], [orden]) VALUES (2, N'SEA · Sistema de Enseñanza Abierta', N'sea', N'2026-2027', 1, 1, 2)
SET IDENTITY_INSERT [dbo].[Calendario] OFF
GO
SET IDENTITY_INSERT [dbo].[Conversacion] ON 

INSERT [dbo].[Conversacion] ([id_conversacion], [fecha_creacion], [activa], [participante_a_id], [participante_b_id], [plantel_id]) VALUES (10, CAST(N'2026-06-25T21:01:10.7760730+00:00' AS DateTimeOffset), 1, 7, 32, N'87ef504b-38d8-45a7-b053-85239bf934f9')
INSERT [dbo].[Conversacion] ([id_conversacion], [fecha_creacion], [activa], [participante_a_id], [participante_b_id], [plantel_id]) VALUES (13, CAST(N'2026-06-29T16:17:23.4700230+00:00' AS DateTimeOffset), 1, 7, 29, N'87ef504b-38d8-45a7-b053-85239bf934f9')
INSERT [dbo].[Conversacion] ([id_conversacion], [fecha_creacion], [activa], [participante_a_id], [participante_b_id], [plantel_id]) VALUES (10015, CAST(N'2026-07-01T16:59:33.9440420+00:00' AS DateTimeOffset), 1, 29, 32, N'87ef504b-38d8-45a7-b053-85239bf934f9')
SET IDENTITY_INSERT [dbo].[Conversacion] OFF
GO
SET IDENTITY_INSERT [dbo].[DispositivoFCM] ON 

INSERT [dbo].[DispositivoFCM] ([id_dispositivo], [token_fcm], [activo], [fecha_registro], [fecha_actualizacion], [usuario_id], [temas]) VALUES (13, N'fnxwXafukqOfcj8LFOJ8bV:APA91bFFPG46g4MsV4sOrKrQi70HPLJTtPioi6Wq9LEK-vQIJ7oYEHPeMyGHeIQTH1CNKPMNeZG_9ud6ff6XpqeEu8Jvwa7ZqQAyDKpXoEQzmb4BhbHtrcc', 1, CAST(N'2026-06-25T14:58:22.1757600+00:00' AS DateTimeOffset), CAST(N'2026-06-28T21:19:50.4223590+00:00' AS DateTimeOffset), 7, N'[]')
INSERT [dbo].[DispositivoFCM] ([id_dispositivo], [token_fcm], [activo], [fecha_registro], [fecha_actualizacion], [usuario_id], [temas]) VALUES (15, N'eXzQ6vremG25FFMzTMXXzd:APA91bFYHcwp7K9WUBQwPMiEOFY0d3JXTevKnVKSLsqFSnhoC7MkUqsD0pxHBFEBcGjxnADazPDvbH-zk5JGhU58CabHkYlaNwdcOKsBbHPMsClpNl16jiA', 1, CAST(N'2026-06-26T16:06:06.4023330+00:00' AS DateTimeOffset), CAST(N'2026-06-26T18:09:38.5223160+00:00' AS DateTimeOffset), 7, N'[]')
INSERT [dbo].[DispositivoFCM] ([id_dispositivo], [token_fcm], [activo], [fecha_registro], [fecha_actualizacion], [usuario_id], [temas]) VALUES (16, N'fgO0X3ApSKrRuZwhc3SdXk:APA91bHbvCE0tzdkJun-dVwqqrLO7IQWSRVXv9qwH-Ox2gL_m7M-268zgV5g2A_MxjnW8YYvitCvLM4d6kr--29ct9XWFRDPDCvQuZiRTpvGorgwsT_gs7g', 1, CAST(N'2026-06-26T16:10:30.5559390+00:00' AS DateTimeOffset), CAST(N'2026-06-26T16:10:30.5559760+00:00' AS DateTimeOffset), 7, N'[]')
SET IDENTITY_INSERT [dbo].[DispositivoFCM] OFF
GO
SET IDENTITY_INSERT [dbo].[django_content_type] ON 

INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (1, N'admin', N'logentry')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (24, N'agenda', N'anuncio')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (21, N'agenda', N'calendario')
SET IDENTITY_INSERT [dbo].[django_content_type] OFF
GO
SET IDENTITY_INSERT [dbo].[django_migrations] ON 

INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (1, N'contenttypes', N'0001_initial', CAST(N'2026-06-12T18:43:15.5596850+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (2, N'auth', N'0001_initial', CAST(N'2026-06-12T18:43:15.8111590+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (3, N'admin', N'0001_initial', CAST(N'2026-06-12T18:43:15.8876160+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[django_migrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Evento] ON 

INSERT [dbo].[Evento] ([id_evento], [titulo], [area], [fecha_inicio], [fecha_fin], [hora_inicio], [hora_fin], [lugar], [fecha_creacion], [calendario_id], [creado_por_id], [turno_id], [tipo_evento_id], [plantel_id], [semestre_id], [grupo_id], [publico]) VALUES (10073, N'PRIMERA EVALUACIÓN DE RECUPERACIÓN', N'', CAST(N'2026-07-01' AS Date), CAST(N'2026-07-02' AS Date), NULL, NULL, N'', CAST(N'2026-06-30T16:45:44.4782030+00:00' AS DateTimeOffset), 1, 7, NULL, 20, NULL, NULL, NULL, NULL)
INSERT [dbo].[Evento] ([id_evento], [titulo], [area], [fecha_inicio], [fecha_fin], [hora_inicio], [hora_fin], [lugar], [fecha_creacion], [calendario_id], [creado_por_id], [turno_id], [tipo_evento_id], [plantel_id], [semestre_id], [grupo_id], [publico]) VALUES (10074, N'REUNIÓN DE TRABAJO COLEGIADO', N'', CAST(N'2026-07-03' AS Date), NULL, NULL, NULL, N'', CAST(N'2026-06-30T16:46:40.5583300+00:00' AS DateTimeOffset), 1, 7, NULL, 23, NULL, NULL, NULL, NULL)
INSERT [dbo].[Evento] ([id_evento], [titulo], [area], [fecha_inicio], [fecha_fin], [hora_inicio], [hora_fin], [lugar], [fecha_creacion], [calendario_id], [creado_por_id], [turno_id], [tipo_evento_id], [plantel_id], [semestre_id], [grupo_id], [publico]) VALUES (10075, N'SESIÓN DEL PLAN DE MEJORA CONTINUA', N'', CAST(N'2026-07-03' AS Date), NULL, NULL, NULL, N'', CAST(N'2026-06-30T16:46:55.4390180+00:00' AS DateTimeOffset), 1, 7, NULL, 24, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Evento] OFF
GO
SET IDENTITY_INSERT [dbo].[EventoGoogleSync] ON 

INSERT [dbo].[EventoGoogleSync] ([id], [google_event_id], [evento_id], [usuario_id]) VALUES (10075, N'aai0apeqioq7n6g4m6ktieoa38', 10073, 29)
INSERT [dbo].[EventoGoogleSync] ([id], [google_event_id], [evento_id], [usuario_id]) VALUES (10076, N'4849cocl1abbqnonuaps5q4k5s', 10074, 29)
INSERT [dbo].[EventoGoogleSync] ([id], [google_event_id], [evento_id], [usuario_id]) VALUES (10077, N'plclqdgfm9bt80mvdir2qpvvh4', 10075, 29)
SET IDENTITY_INSERT [dbo].[EventoGoogleSync] OFF
GO
SET IDENTITY_INSERT [dbo].[Grupo] ON 

INSERT [dbo].[Grupo] ([id_grupo], [semestre_id], [letra_id]) VALUES (1, 1, N'A')
INSERT [dbo].[Grupo] ([id_grupo], [semestre_id], [letra_id]) VALUES (2, 1, N'B')
INSERT [dbo].[Grupo] ([id_grupo], [semestre_id], [letra_id]) VALUES (3, 1, N'C')
SET IDENTITY_INSERT [dbo].[Grupo] OFF
GO
SET IDENTITY_INSERT [dbo].[LecturaMensaje] ON 

INSERT [dbo].[LecturaMensaje] ([id_lectura_mensaje], [conversacion_id], [ultimo_leido_id], [usuario_id]) VALUES (17, 10, 10027, 32)
INSERT [dbo].[LecturaMensaje] ([id_lectura_mensaje], [conversacion_id], [ultimo_leido_id], [usuario_id]) VALUES (18, 10, 10027, 7)
INSERT [dbo].[LecturaMensaje] ([id_lectura_mensaje], [conversacion_id], [ultimo_leido_id], [usuario_id]) VALUES (21, 13, 16, 29)
SET IDENTITY_INSERT [dbo].[LecturaMensaje] OFF
GO
INSERT [dbo].[Letra] ([id_letra]) VALUES (N'A')
INSERT [dbo].[Letra] ([id_letra]) VALUES (N'B')
INSERT [dbo].[Letra] ([id_letra]) VALUES (N'C')
GO
SET IDENTITY_INSERT [dbo].[Mensaje] ON 

INSERT [dbo].[Mensaje] ([id_mensaje], [contenido_cifrado], [iv], [metadatos_cifrados], [iv_metadatos], [fecha_envio], [eliminado], [conversacion_id], [remitente_id]) VALUES (13, N'3gjtcs4CBYDM2xW1L3TQwe2ho6w6xg==', N'g8Fr732/3fb11LXT', NULL, NULL, CAST(N'2026-06-25T21:01:18.0472020+00:00' AS DateTimeOffset), 0, 10, 32)
INSERT [dbo].[Mensaje] ([id_mensaje], [contenido_cifrado], [iv], [metadatos_cifrados], [iv_metadatos], [fecha_envio], [eliminado], [conversacion_id], [remitente_id]) VALUES (16, N'fKu7zDKM/bfysqtFTGfUsZTj2G1ruiHl82wIsa3YiuSQ', N'6IGE9fxJKqVVPIqg', NULL, NULL, CAST(N'2026-06-29T16:25:48.4675280+00:00' AS DateTimeOffset), 0, 13, 29)
INSERT [dbo].[Mensaje] ([id_mensaje], [contenido_cifrado], [iv], [metadatos_cifrados], [iv_metadatos], [fecha_envio], [eliminado], [conversacion_id], [remitente_id]) VALUES (10021, N'9x8Er1fs6QuDQuSx8+bhQkM=', N'S7SpdkAxoSHxBljq', NULL, NULL, CAST(N'2026-07-01T15:24:26.7717750+00:00' AS DateTimeOffset), 0, 10, 7)
SET IDENTITY_INSERT [dbo].[Mensaje] OFF
GO
SET IDENTITY_INSERT [dbo].[Notificacion] ON 

INSERT [dbo].[Notificacion] ([id_notificacion], [categoria], [titulo], [mensaje], [audiencia], [fecha_creacion], [anuncio_id], [evento_id], [plantel_id], [turno_id]) VALUES (69, N'evento', N'Nuevo evento: DÍA INHÁBIL', N'25/06/2026', N'todos', CAST(N'2026-06-25T17:32:22.1239850+00:00' AS DateTimeOffset), NULL, NULL, N'64072059-eb72-4e6f-bda0-2b3319133e59', NULL)
INSERT [dbo].[Notificacion] ([id_notificacion], [categoria], [titulo], [mensaje], [audiencia], [fecha_creacion], [anuncio_id], [evento_id], [plantel_id], [turno_id]) VALUES (70, N'evento', N'Nuevo evento: VACACIONES', N'25/06/2026 · lolo', N'todos', CAST(N'2026-06-25T17:44:00.7205010+00:00' AS DateTimeOffset), NULL, NULL, N'64072059-eb72-4e6f-bda0-2b3319133e59', NULL)
INSERT [dbo].[Notificacion] ([id_notificacion], [categoria], [titulo], [mensaje], [audiencia], [fecha_creacion], [anuncio_id], [evento_id], [plantel_id], [turno_id]) VALUES (71, N'evento', N'Nuevo evento: JORNADA ACADÉMICA', N'25/06/2026', N'todos', CAST(N'2026-06-25T17:48:03.5926380+00:00' AS DateTimeOffset), NULL, NULL, N'64072059-eb72-4e6f-bda0-2b3319133e59', NULL)
GO
SET IDENTITY_INSERT [dbo].[Notificacion] OFF
GO
INSERT [dbo].[Plantel] ([nombre], [clave], [id_plantel]) VALUES (N'Plantel 325 San Antonio Las Delicias', N'14325', N'f1171fcd-40fc-46aa-bb7e-0187a0f9f487')
INSERT [dbo].[Plantel] ([nombre], [clave], [id_plantel]) VALUES (N'Plantel 58 San Cristóbal Norte', N'14058', N'7aefe1dc-d5fd-4356-acf3-01fc7808e404')
INSERT [dbo].[Plantel] ([nombre], [clave], [id_plantel]) VALUES (N'Plantel 143 Nuevo Progreso', N'14143', N'a99d7d73-1fb6-487e-b40a-020e77a638e0')
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([id_rol], [nombre_rol]) VALUES (2, N'admin')
INSERT [dbo].[Rol] ([id_rol], [nombre_rol]) VALUES (4, N'alumno')
INSERT [dbo].[Rol] ([id_rol], [nombre_rol]) VALUES (5, N'colaborador')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
INSERT [dbo].[Semestre] ([id_semestre]) VALUES (1)
INSERT [dbo].[Semestre] ([id_semestre]) VALUES (2)
INSERT [dbo].[Semestre] ([id_semestre]) VALUES (3)
GO
SET IDENTITY_INSERT [dbo].[SolicitudAdmin] ON 

INSERT [dbo].[SolicitudAdmin] ([id_solicitud_admin], [motivo], [estado], [fecha_solicitud], [fecha_resolucion], [usuario_id], [resuelta_por_id], [plantel_ref_id], [turno_ref_id], [turno_id], [plantel_id], [tipo]) VALUES (9, N'', N'aceptada', CAST(N'2026-06-26T18:49:25.8641230+00:00' AS DateTimeOffset), CAST(N'2026-06-26T18:49:46.5001300+00:00' AS DateTimeOffset), 29, 7, NULL, NULL, 3, N'0233a21b-6fca-4e9e-8d19-2bf709dc142b', N'admin')
INSERT [dbo].[SolicitudAdmin] ([id_solicitud_admin], [motivo], [estado], [fecha_solicitud], [fecha_resolucion], [usuario_id], [resuelta_por_id], [plantel_ref_id], [turno_ref_id], [turno_id], [plantel_id], [tipo]) VALUES (10, N'por que quiero, por que puedo', N'aceptada', CAST(N'2026-06-29T16:05:11.7838810+00:00' AS DateTimeOffset), CAST(N'2026-06-29T16:14:54.2742530+00:00' AS DateTimeOffset), 36, 7, NULL, NULL, 1, N'f1171fcd-40fc-46aa-bb7e-0187a0f9f487', N'admin')
INSERT [dbo].[SolicitudAdmin] ([id_solicitud_admin], [motivo], [estado], [fecha_solicitud], [fecha_resolucion], [usuario_id], [resuelta_por_id], [plantel_ref_id], [turno_ref_id], [turno_id], [plantel_id], [tipo]) VALUES (10011, N'', N'aceptada', CAST(N'2026-07-01T16:24:28.6135410+00:00' AS DateTimeOffset), CAST(N'2026-07-01T16:24:48.6490760+00:00' AS DateTimeOffset), 29, 7, NULL, NULL, 1, N'87ef504b-38d8-45a7-b053-85239bf934f9', N'admin')
SET IDENTITY_INSERT [dbo].[SolicitudAdmin] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoEvento] ON 

INSERT [dbo].[TipoEvento] ([id_tipo_evento], [nombre], [color_hex], [plantel_id]) VALUES (11, N'INICIO DE CURSO', N'#000000', NULL)
INSERT [dbo].[TipoEvento] ([id_tipo_evento], [nombre], [color_hex], [plantel_id]) VALUES (12, N'FIN DE CURSO', N'#000000', NULL)
INSERT [dbo].[TipoEvento] ([id_tipo_evento], [nombre], [color_hex], [plantel_id]) VALUES (13, N'DÍA INHÁBIL', N'#f16622', NULL)
SET IDENTITY_INSERT [dbo].[TipoEvento] OFF
GO
SET IDENTITY_INSERT [dbo].[Turno] ON 

INSERT [dbo].[Turno] ([id_turno], [nombre_turno]) VALUES (1, N'Matutino')
INSERT [dbo].[Turno] ([id_turno], [nombre_turno]) VALUES (3, N'Mixto')
INSERT [dbo].[Turno] ([id_turno], [nombre_turno]) VALUES (2, N'Vespertino')
SET IDENTITY_INSERT [dbo].[Turno] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [correo], [nombre], [google_id], [matricula], [password_mock], [activo], [rol_id], [ultima_sesion], [id_api]) VALUES (7, N'superadmin@cobach.edu.mx', N'RIGOBERTO PEREZ OVANDO', NULL, NULL, N'123456', 1, 1, CAST(N'2026-07-08T15:54:43.3725290+00:00' AS DateTimeOffset), N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Usuario] ([id_usuario], [correo], [nombre], [google_id], [matricula], [password_mock], [activo], [rol_id], [ultima_sesion], [id_api]) VALUES (29, N'rperez@cobach.edu.mx', N'RIGOBERTO PEREZ OVANDO', NULL, NULL, NULL, 1, 5, CAST(N'2026-07-08T15:55:51.2879780+00:00' AS DateTimeOffset), N'758fcfa7-57b0-4caf-9f82-66bc437bed7e')
INSERT [dbo].[Usuario] ([id_usuario], [correo], [nombre], [google_id], [matricula], [password_mock], [activo], [rol_id], [ultima_sesion], [id_api]) VALUES (30, N'autenticacion@cobach.edu.mx', N'Usuario de Prueba', NULL, NULL, NULL, 1, 3, CAST(N'2026-06-29T17:07:29.6486970+00:00' AS DateTimeOffset), N'00000000-0000-0000-0000-000000000000')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuarioPlantel] ON 

INSERT [dbo].[UsuarioPlantel] ([id_usuario_plantel], [turno_id], [usuario_id], [plantel_id]) VALUES (62, 1, 36, N'f1171fcd-40fc-46aa-bb7e-0187a0f9f487')
INSERT [dbo].[UsuarioPlantel] ([id_usuario_plantel], [turno_id], [usuario_id], [plantel_id]) VALUES (63, 1, 42, N'64072059-eb72-4e6f-bda0-2b3319133e59')
INSERT [dbo].[UsuarioPlantel] ([id_usuario_plantel], [turno_id], [usuario_id], [plantel_id]) VALUES (10076, 1, 10036, N'cd919cf1-3012-4a04-b8f5-681bedd3b6d5')
SET IDENTITY_INSERT [dbo].[UsuarioPlantel] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [auth_group_name_a6ea08ec_uniq] Fecha de script: 8/7/2026 11:24:06 ******/
ALTER TABLE [dbo].[auth_group] ADD  CONSTRAINT [auth_group_name_a6ea08ec_uniq] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [auth_user_username_6821ab7c_uniq] Fecha de script: 8/7/2026 11:24:06 ******/
ALTER TABLE [dbo].[auth_user] ADD  CONSTRAINT [auth_user_username_6821ab7c_uniq] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__authtoke__B9BE370EC7638CD1] Fecha de script: 8/7/2026 11:24:06 ******/
ALTER TABLE [dbo].[authtoken_token] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Calendar__71DCA3DB9E9240BB] Fecha de script: 8/7/2026 11:24:06 ******/
ALTER TABLE [dbo].[Calendario] ADD UNIQUE NONCLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Disposit__B643041D4913BA0A] Fecha de script: 8/7/2026 11:24:06 ******/
ALTER TABLE [dbo].[DispositivoFCM] ADD UNIQUE NONCLUSTERED 
(
	[token_fcm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__GoogleOa__2ED7D2AED5B8FD00] Fecha de script: 8/7/2026 11:24:06 ******/
ALTER TABLE [dbo].[GoogleOauthCredential] ADD UNIQUE NONCLUSTERED 
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [Plantel_clave_4d6558a4_uniq] Fecha de script: 8/7/2026 11:24:06 ******/
ALTER TABLE [dbo].[Plantel] ADD  CONSTRAINT [Plantel_clave_4d6558a4_uniq] UNIQUE NONCLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Rol__673CB4354A526944] Fecha de script: 8/7/2026 11:24:06 ******/
ALTER TABLE [dbo].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[nombre_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [Turno_nombre_turno_d601bce4_uniq] Fecha de script: 8/7/2026 11:24:06 ******/
ALTER TABLE [dbo].[Turno] ADD  CONSTRAINT [Turno_nombre_turno_d601bce4_uniq] UNIQUE NONCLUSTERED 
(
	[nombre_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Usuario__2A586E0B2B29B147] Fecha de script: 8/7/2026 11:24:06 ******/
ALTER TABLE [dbo].[Usuario] ADD UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Anuncio]  WITH CHECK ADD  CONSTRAINT [Anuncio_creado_por_id_894ad5fc_fk_Usuario_id_usuario] FOREIGN KEY([creado_por_id])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Anuncio] CHECK CONSTRAINT [Anuncio_creado_por_id_894ad5fc_fk_Usuario_id_usuario]
GO
ALTER TABLE [dbo].[Anuncio]  WITH CHECK ADD  CONSTRAINT [Anuncio_turno_id_fa1d842b_fk_Turno_id_turno] FOREIGN KEY([turno_id])
REFERENCES [dbo].[Turno] ([id_turno])
GO
ALTER TABLE [dbo].[Anuncio] CHECK CONSTRAINT [Anuncio_turno_id_fa1d842b_fk_Turno_id_turno]
GO
ALTER TABLE [dbo].[Anuncio]  WITH CHECK ADD  CONSTRAINT [FK_Anuncio_plantel] FOREIGN KEY([plantel_id])
REFERENCES [dbo].[Plantel] ([id_plantel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Anuncio] CHECK CONSTRAINT [FK_Anuncio_plantel]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH NOCHECK ADD  CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH NOCHECK ADD  CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_permission]  WITH NOCHECK ADD  CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[auth_permission] CHECK CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH NOCHECK ADD  CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH NOCHECK ADD  CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH NOCHECK ADD  CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH NOCHECK ADD  CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[authtoken_token]  WITH NOCHECK ADD  CONSTRAINT [authtoken_token_user_id_35299eff_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[authtoken_token] CHECK CONSTRAINT [authtoken_token_user_id_35299eff_fk_auth_user_id]
GO
ALTER TABLE [dbo].[Conversacion]  WITH CHECK ADD  CONSTRAINT [Conversacion_participante_a_id_231d502e_fk_Usuario_id_usuario] FOREIGN KEY([participante_a_id])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Conversacion] CHECK CONSTRAINT [Conversacion_participante_a_id_231d502e_fk_Usuario_id_usuario]
GO
ALTER TABLE [dbo].[Conversacion]  WITH CHECK ADD  CONSTRAINT [Conversacion_participante_b_id_72c5b1f6_fk_Usuario_id_usuario] FOREIGN KEY([participante_b_id])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Conversacion] CHECK CONSTRAINT [Conversacion_participante_b_id_72c5b1f6_fk_Usuario_id_usuario]
GO
ALTER TABLE [dbo].[Conversacion]  WITH CHECK ADD  CONSTRAINT [FK_Conversacion_plantel] FOREIGN KEY([plantel_id])
REFERENCES [dbo].[Plantel] ([id_plantel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Conversacion] CHECK CONSTRAINT [FK_Conversacion_plantel]
GO
ALTER TABLE [dbo].[DispositivoFCM]  WITH CHECK ADD  CONSTRAINT [DispositivoFCM_usuario_id_6ba179ad_fk_Usuario_id_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[DispositivoFCM] CHECK CONSTRAINT [DispositivoFCM_usuario_id_6ba179ad_fk_Usuario_id_usuario]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH NOCHECK ADD  CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH NOCHECK ADD  CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [Evento_calendario_id_3daca750_fk_Calendario_id_calendario] FOREIGN KEY([calendario_id])
REFERENCES [dbo].[Calendario] ([id_calendario])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [Evento_calendario_id_3daca750_fk_Calendario_id_calendario]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [Evento_creado_por_id_b5d78eec_fk_Usuario_id_usuario] FOREIGN KEY([creado_por_id])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [Evento_creado_por_id_b5d78eec_fk_Usuario_id_usuario]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [Evento_grupo_id_2e8c4443_fk_Grupo_id_grupo] FOREIGN KEY([grupo_id])
REFERENCES [dbo].[Grupo] ([id_grupo])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [Evento_grupo_id_2e8c4443_fk_Grupo_id_grupo]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [Evento_semestre_id_73635c06_fk_Semestre_id_semestre] FOREIGN KEY([semestre_id])
REFERENCES [dbo].[Semestre] ([id_semestre])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [Evento_semestre_id_73635c06_fk_Semestre_id_semestre]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [Evento_tipo_evento_id_ae285496_fk_TipoEvento_id_tipo_evento] FOREIGN KEY([tipo_evento_id])
REFERENCES [dbo].[TipoEvento] ([id_tipo_evento])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [Evento_tipo_evento_id_ae285496_fk_TipoEvento_id_tipo_evento]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [Evento_turno_id_931a8c59_fk_Turno_id_turno] FOREIGN KEY([turno_id])
REFERENCES [dbo].[Turno] ([id_turno])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [Evento_turno_id_931a8c59_fk_Turno_id_turno]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_plantel] FOREIGN KEY([plantel_id])
REFERENCES [dbo].[Plantel] ([id_plantel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_plantel]
GO
ALTER TABLE [dbo].[EventoGoogleSync]  WITH CHECK ADD  CONSTRAINT [EventoGoogleSync_evento_id_23a616ab_fk_Evento_id_evento] FOREIGN KEY([evento_id])
REFERENCES [dbo].[Evento] ([id_evento])
GO
ALTER TABLE [dbo].[EventoGoogleSync] CHECK CONSTRAINT [EventoGoogleSync_evento_id_23a616ab_fk_Evento_id_evento]
GO
ALTER TABLE [dbo].[EventoGoogleSync]  WITH CHECK ADD  CONSTRAINT [EventoGoogleSync_usuario_id_5f278158_fk_Usuario_id_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[EventoGoogleSync] CHECK CONSTRAINT [EventoGoogleSync_usuario_id_5f278158_fk_Usuario_id_usuario]
GO
ALTER TABLE [dbo].[GoogleOauthCredential]  WITH CHECK ADD  CONSTRAINT [GoogleOauthCredential_grupo_id_20a7413b_fk_Grupo_id_grupo] FOREIGN KEY([grupo_id])
REFERENCES [dbo].[Grupo] ([id_grupo])
GO
ALTER TABLE [dbo].[GoogleOauthCredential] CHECK CONSTRAINT [GoogleOauthCredential_grupo_id_20a7413b_fk_Grupo_id_grupo]
GO
ALTER TABLE [dbo].[GoogleOauthCredential]  WITH CHECK ADD  CONSTRAINT [GoogleOauthCredential_semestre_id_bc22986a_fk_Semestre_id_semestre] FOREIGN KEY([semestre_id])
REFERENCES [dbo].[Semestre] ([id_semestre])
GO
ALTER TABLE [dbo].[GoogleOauthCredential] CHECK CONSTRAINT [GoogleOauthCredential_semestre_id_bc22986a_fk_Semestre_id_semestre]
GO
ALTER TABLE [dbo].[GoogleOauthCredential]  WITH CHECK ADD  CONSTRAINT [GoogleOauthCredential_usuario_id_9246e808_fk_Usuario_id_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[GoogleOauthCredential] CHECK CONSTRAINT [GoogleOauthCredential_usuario_id_9246e808_fk_Usuario_id_usuario]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [Grupo_letra_id_2fb0935d_fk_Letra_id_letra] FOREIGN KEY([letra_id])
REFERENCES [dbo].[Letra] ([id_letra])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [Grupo_letra_id_2fb0935d_fk_Letra_id_letra]
GO
ALTER TABLE [dbo].[Grupo]  WITH CHECK ADD  CONSTRAINT [Grupo_semestre_id_3b4a8aae_fk_Semestre_id_semestre] FOREIGN KEY([semestre_id])
REFERENCES [dbo].[Semestre] ([id_semestre])
GO
ALTER TABLE [dbo].[Grupo] CHECK CONSTRAINT [Grupo_semestre_id_3b4a8aae_fk_Semestre_id_semestre]
GO
ALTER TABLE [dbo].[LecturaMensaje]  WITH CHECK ADD  CONSTRAINT [LecturaMensaje_conversacion_id_c5281037_fk_Conversacion_id_conversacion] FOREIGN KEY([conversacion_id])
REFERENCES [dbo].[Conversacion] ([id_conversacion])
GO
ALTER TABLE [dbo].[LecturaMensaje] CHECK CONSTRAINT [LecturaMensaje_conversacion_id_c5281037_fk_Conversacion_id_conversacion]
GO
ALTER TABLE [dbo].[LecturaMensaje]  WITH CHECK ADD  CONSTRAINT [LecturaMensaje_ultimo_leido_id_b2365975_fk_Mensaje_id_mensaje] FOREIGN KEY([ultimo_leido_id])
REFERENCES [dbo].[Mensaje] ([id_mensaje])
GO
ALTER TABLE [dbo].[LecturaMensaje] CHECK CONSTRAINT [LecturaMensaje_ultimo_leido_id_b2365975_fk_Mensaje_id_mensaje]
GO
ALTER TABLE [dbo].[LecturaMensaje]  WITH CHECK ADD  CONSTRAINT [LecturaMensaje_usuario_id_2e88608d_fk_Usuario_id_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[LecturaMensaje] CHECK CONSTRAINT [LecturaMensaje_usuario_id_2e88608d_fk_Usuario_id_usuario]
GO
ALTER TABLE [dbo].[Mensaje]  WITH CHECK ADD  CONSTRAINT [Mensaje_conversacion_id_f996dd89_fk_Conversacion_id_conversacion] FOREIGN KEY([conversacion_id])
REFERENCES [dbo].[Conversacion] ([id_conversacion])
GO
ALTER TABLE [dbo].[Mensaje] CHECK CONSTRAINT [Mensaje_conversacion_id_f996dd89_fk_Conversacion_id_conversacion]
GO
ALTER TABLE [dbo].[Mensaje]  WITH CHECK ADD  CONSTRAINT [Mensaje_remitente_id_9c36f269_fk_Usuario_id_usuario] FOREIGN KEY([remitente_id])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Mensaje] CHECK CONSTRAINT [Mensaje_remitente_id_9c36f269_fk_Usuario_id_usuario]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [FK_Notificacion_plantel] FOREIGN KEY([plantel_id])
REFERENCES [dbo].[Plantel] ([id_plantel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [FK_Notificacion_plantel]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [Notificacion_anuncio_id_3fee44a7_fk_Anuncio_id_anuncio] FOREIGN KEY([anuncio_id])
REFERENCES [dbo].[Anuncio] ([id_anuncio])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [Notificacion_anuncio_id_3fee44a7_fk_Anuncio_id_anuncio]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [Notificacion_evento_id_e7fae3a8_fk_Evento_id_evento] FOREIGN KEY([evento_id])
REFERENCES [dbo].[Evento] ([id_evento])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [Notificacion_evento_id_e7fae3a8_fk_Evento_id_evento]
GO
ALTER TABLE [dbo].[Notificacion]  WITH CHECK ADD  CONSTRAINT [Notificacion_turno_id_d058728c_fk_Turno_id_turno] FOREIGN KEY([turno_id])
REFERENCES [dbo].[Turno] ([id_turno])
GO
ALTER TABLE [dbo].[Notificacion] CHECK CONSTRAINT [Notificacion_turno_id_d058728c_fk_Turno_id_turno]
GO
ALTER TABLE [dbo].[SolicitudAdmin]  WITH CHECK ADD  CONSTRAINT [FK_SolicitudAdmin_plantel] FOREIGN KEY([plantel_id])
REFERENCES [dbo].[Plantel] ([id_plantel])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SolicitudAdmin] CHECK CONSTRAINT [FK_SolicitudAdmin_plantel]
GO
ALTER TABLE [dbo].[SolicitudAdmin]  WITH CHECK ADD  CONSTRAINT [SolicitudAdmin_resuelta_por_id_2b29eaf3_fk_Usuario_id_usuario] FOREIGN KEY([resuelta_por_id])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[SolicitudAdmin] CHECK CONSTRAINT [SolicitudAdmin_resuelta_por_id_2b29eaf3_fk_Usuario_id_usuario]
GO
ALTER TABLE [dbo].[SolicitudAdmin]  WITH CHECK ADD  CONSTRAINT [SolicitudAdmin_turno_id_6a642eb5_fk_Turno_id_turno] FOREIGN KEY([turno_id])
REFERENCES [dbo].[Turno] ([id_turno])
GO
ALTER TABLE [dbo].[SolicitudAdmin] CHECK CONSTRAINT [SolicitudAdmin_turno_id_6a642eb5_fk_Turno_id_turno]
GO
ALTER TABLE [dbo].[SolicitudAdmin]  WITH CHECK ADD  CONSTRAINT [SolicitudAdmin_turno_ref_id_5e2cf5f0_fk_Turno_id_turno] FOREIGN KEY([turno_ref_id])
REFERENCES [dbo].[Turno] ([id_turno])
GO
ALTER TABLE [dbo].[SolicitudAdmin] CHECK CONSTRAINT [SolicitudAdmin_turno_ref_id_5e2cf5f0_fk_Turno_id_turno]
GO
ALTER TABLE [dbo].[TipoEvento]  WITH CHECK ADD  CONSTRAINT [FK_TipoEvento_plantel] FOREIGN KEY([plantel_id])
REFERENCES [dbo].[Plantel] ([id_plantel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TipoEvento] CHECK CONSTRAINT [FK_TipoEvento_plantel]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [Usuario_rol_id_17308ea9_fk_Rol_id_rol] FOREIGN KEY([rol_id])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [Usuario_rol_id_17308ea9_fk_Rol_id_rol]
GO
ALTER TABLE [dbo].[UsuarioPlantel]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPlantel_plantel] FOREIGN KEY([plantel_id])
REFERENCES [dbo].[Plantel] ([id_plantel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UsuarioPlantel] CHECK CONSTRAINT [FK_UsuarioPlantel_plantel]
GO
ALTER TABLE [dbo].[UsuarioPlantel]  WITH CHECK ADD  CONSTRAINT [UsuarioPlantel_turno_id_852861c2_fk_Turno_id_turno] FOREIGN KEY([turno_id])
REFERENCES [dbo].[Turno] ([id_turno])
GO
ALTER TABLE [dbo].[UsuarioPlantel] CHECK CONSTRAINT [UsuarioPlantel_turno_id_852861c2_fk_Turno_id_turno]
GO
ALTER TABLE [dbo].[UsuarioPlantel]  WITH CHECK ADD  CONSTRAINT [UsuarioPlantel_usuario_id_e12bd50c_fk_Usuario_id_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[UsuarioPlantel] CHECK CONSTRAINT [UsuarioPlantel_usuario_id_e12bd50c_fk_Usuario_id_usuario]
GO
ALTER TABLE [dbo].[Conversacion]  WITH CHECK ADD  CONSTRAINT [chk_conversacion_orden_participantes] CHECK  (([participante_a_id]<[participante_b_id]))
GO
ALTER TABLE [dbo].[Conversacion] CHECK CONSTRAINT [chk_conversacion_orden_participantes]
GO
ALTER TABLE [dbo].[DispositivoFCM]  WITH CHECK ADD CHECK  ((isjson([temas])=(1)))
GO
ALTER TABLE [dbo].[django_admin_log]  WITH NOCHECK ADD  CONSTRAINT [django_admin_log_action_flag_a8637d59_check] CHECK  (([action_flag]>=(0)))
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_action_flag_a8637d59_check]
GO
